<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boba.springbootmybatis.mapper.UserMapper">

    <select id="selectAll" resultType="User">
        SELECT uid, uname, pwd
        FROM test_user
    </select>

    <select id="selectById" resultType="User">
        SELECT uid, uname, pwd
        FROM test_user
        where uid=#{uid}
    </select>

    <insert id="insert" parameterType="User">
        insert into test_user(uid, uname, pwd)
        values (default ,#{uname}, #{pwd})
    </insert>

    <update id="update" parameterType="User">
        update test_user
        set uname=#{uname}, pwd=#{pwd}
        where uid=#{uid}
    </update>

    <delete id="delete" parameterType="int">
        delete from test_user
        where uid=#{uid}
    </delete>

</mapper>