<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
<!-- th:if判断 -->
<span th:if="${text1}=='AAA'">AAA</span>
<span th:if="${text1}=='BBB'">BBB</span><br/>
<!-- th:switch和th:case判断 -->
<div th:switch="${text1}">
    <span th:case="AAA">AAA</span>
    <span th:case="AAA">BBB</span>
</div>
<!-- th:each遍历 -->
<table border="1">
    <thead>
    <th>id</th>
    <th>uname</th>
    <th>pwd</th>
    </thead>
    <tbody th:each="user:${list}">
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.uname}"></td>
        <td th:text="${user.pwd}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>