<component name="ArtifactManager">
  <artifact type="war" name="springMVCLogin:war">
    <output-path>$PROJECT_DIR$/springMVCLogin/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVCLogin</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVCLogin-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVCLogin:war exploded" />
    </root>
  </artifact>
</component>