<component name="ArtifactManager">
  <artifact type="war" name="springMVCHelloWorld:war">
    <output-path>$PROJECT_DIR$/springMVCHelloWorld/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVCHelloWorld</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVCHelloWorld.war">
      <element id="artifact" artifact-name="springMVCHelloWorld:war exploded" />
    </root>
  </artifact>
</component>