<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVCHelloWorld:war exploded">
    <output-path>$PROJECT_DIR$/springMVCHelloWorld/target/springMVCHelloWorld</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springMVCHelloWorld</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVCHelloWorld" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.6.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springMVCHelloWorld/target/springMVCHelloWorld/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVCHelloWorld/web/Web" />
    </root>
  </artifact>
</component>